.wrapper {
    width: 1200px;
    margin: 0 auto;
}
ul {
    width: 200px;
    margin: 0 auto;
}
li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
div {
    margin: 30px;
    text-align: center;
}
#selectTextWrap {
    display: block;
}